<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <!--Error message alert-->
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <!--Loading Bar-->
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <!--Authentication form-->
    <form [formGroup]="formData" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <!--Email input-->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
        />
        <span
          *ngIf="!formData.get('email').valid && formData.get('email').touched"
          class="help-block"
          >Must enter valid email</span
        >
      </div>
      <!--Password input-->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
        />
        <span
          *ngIf="
            !formData.get('password').valid && formData.get('password').touched
          "
          class="help-block"
          >Password must be at least 6 characters long</span
        >
      </div>
      <!--Buttons-->
      <div class="form-group">
        <button
          [disabled]="!formData.valid"
          class="btn btn-primary"
          type="submit"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        |
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? "Sign up" : "Login" }}
        </button>
      </div>

      <div></div>
    </form>
  </div>
</div>
