<div class="row">
  <div class="col-xs-12">
    <form #itemForm="ngForm" (ngSubmit)="onAddItem()">
      <!--Name of Ingredient input-->
      <div class="col-sm-5 form-group">
        <label for="name">Name</label>
        <input
          class="form-control"
          id="name"
          ngModel
          #name="ngModel"
          name="name"
          required
          type="text"
        />
        <span *ngIf="!name.valid && name.touched" class="help-block">
          name is required</span
        >
      </div>
      <!--Amount of Ingredient input-->
      <div class="col-sm-2 form-group">
        <label for="amount">Amount</label>
        <input
          class="form-control"
          id="amount"
          ngModel
          #amount="ngModel"
          name="amount"
          pattern="^[1-9]+[0-9]*$"
          required
          type="number"
        />
        <span *ngIf="!amount.valid && amount.touched" class="help-block">
          amount is required and must be a positive whole number</span
        >
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            style="margin-right: 3px"
            type="submit"
            [disabled]="!itemForm.valid"
          >
            Add
          </button>
          <button
            class="btn btn-danger"
            style="margin-right: 3px"
            type="button"
          >
            Delete
          </button>
          <button
            class="btn btn-primary"
            style="margin-right: 3px"
            type="button"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
